.app {
  text-align: center;
}
.app__header{
  background-color: white;
  display: flex;
   align-items: center;
   margin-left: 5px;
   margin-right: 5px;
}
.app__header > h1 {
  color: #4267B2;
  flex: 1;
}
.app__SignOutBtn{
  border-radius: 1rem !important;
}
.app__signInform{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.app__SignInBtn{
  display: flex;
  width: 300px;
  padding: 5px;
 justify-content: space-evenly;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  font-style: normal;
  color:#D44638;
  border: 1px solid #D44638;
  border-radius: 1rem;
  margin-bottom: 10px;
  
}
.app__SignInBtn > img{
  width: 40px;
  height: 40px;
  margin: 10px;
}
.app__logo{
  flex: 0;
}
.app__form{
 padding: 20px;
 position: fixed;
 bottom: 0;
 z-index: 1;
 background-color: #e9e9eb;
 width: 94%;
 margin: 20px;
 
 
}
.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}
.app__formInput{
  flex:1;
}
.app__iconButton{
  flex:0;
}
.app__Message{
  background-color: aqua !important;
  margin-bottom: 200px;
}