.message{
    padding:10px;
    margin: 10px;
    width: fit-content;
    
}
.message__user{
    margin-left: auto;
    text-align: left !important;
}
.message__userCard{
    background-color: #0b81ff !important;
    color: #e9e9eb !important;
}

.message__guestCard{
    background-color: #e9e9eb !important;
} 
.message__timeInfo{
    color:black !important;
}
.messsage__display{
 display: inline !important;
 flex-direction: row !important;
}
.message__avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
}